<div class="contact-section d-flex justify-content-center align-items-center">
  <div class="glass-card p-4 p-md-5 rounded-4 shadow-lg">
    <h2 class="text-center mb-4 fw-bold">Get in Touch</h2>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Assem Bakr"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="asem@gmail.com"
        />
      </div>

      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea
          class="form-control"
          id="message"
          rows="4"
          placeholder="Write your message..."
        ></textarea>
      </div>

      <button class="btn submit-btn w-100 mt-3">Send Message</button>
    </form>

    <div class="social-icons d-flex justify-content-center mt-4 gap-3">
      <a href="https://www.facebook.com/share/15KuDq3jKEw/" class="icon"
        ><i class="bi bi-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/assembakr?igsh=MWUzMW1iZmJxaDRzcA=="
        class="icon"
        ><i class="bi bi-instagram"></i
      ></a>
      <a href="https://github.com/assembakr" class="icon"
        ><i class="bi bi-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/asem-bakr-17300a215/" class="icon"
        ><i class="bi bi-linkedin"></i
      ></a>
    </div>
  </div>
</div>
